button{
    font-size: 1.2rem;
    height: 2.1rem;
    border: 0;
    color:rgb(254, 230, 243);
    background-color: rgb(61, 61, 177);
    box-shadow: 0 4px 5px 0px rgba(0,0,0,0.5);
    transition: .1s;
}

button:active{
    box-shadow: 0 1px 3px 0px rgba(0,0,0,0.5);
    background-color: rgba(61, 61, 177, 0.97);
}